[Unit]
Description=Thrustmaster TPR Linux compatibility service
After=systemd-udevd.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/ProtonTPR 044f b68f
ExecStop=/usr/bin/killall ProtonTPR
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
