[Unit]
Description=Thrustmaster Proton TPR compatibility service
After=systemd-udevd.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/protontpr
ExecStop=/usr/bin/killall protontpr

[Install]
WantedBy=multi-user.target
